{% extends 'admin/header.html' %}
{% block body %}
<body>
    <br>
    <div class="container" style="margin:1px;">
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/yearone"><button type="button" class="btn btn-primary">Year One</button></a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row" style="margin:1px;">
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/addsubjectcombo"><button type="button" class="btn btn-primary">Add Subject Combinations</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/updatesubjectcombo"><button type="button" class="btn btn-primary">Update Subject Combinations</button></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/deletesubjectcombo"><button type="button" class="btn btn-primary">Delete Subject Combinations</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock  %}