{% extends 'admin/header.html' %}
{% from "admin/_formhelpers.html" import render_field%}

{% block body %}
<body>
    <div class="container">
        <br>
        <h4>Upload</h4>
        <br>
        
        {% for category, message in get_flashed_messages(with_categories=true)  %}

            <div class="alert alert-{{category}} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> {{ message }} </strong>
            </div>

        {% endfor %}

        <br>
        <form method=post action="">
            <dl>
                {{ render_field(form.english)}}
                {{ render_field(form.mathematics)}}
                {{ render_field(form.economics)}}
                {{ render_field(form.physics)}}
                {{ render_field(form.chemistry)}}
                {{ render_field(form.matricNo)}}
            </dl>
            <p><input type=submit value=Register></p>    
        </form>
    </div>
</body>
{% endblock  %}