{% extends 'admin/header.html' %}
{% from "admin/_formhelpers.html" import render_field%}

{% block body %}
<body>
    <div class="container">
        <br>
        <h4>Check</h4>
        <br>
        
        {% for category, message in get_flashed_messages(with_categories=true)  %}

            <div class="alert alert-{{category}} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> {{ message }} </strong>
            </div>

        {% endfor %}

        <br>
        
        <form method=post action="">
            <dl>
                {{ render_field(form.matricNo)}}
            </dl>
            <p><input type=submit value=Check></p>    
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}
        <br>
        {% if post %}
            <h5> Computer Science: {{ post[0] }} </h5><br>
            <h5> Physics: {{ post[1] }} </h5><br>
            <h5> Chemistry : {{ post[2] }} </h5><br>
            <h5> Biology: {{ post[3] }} </h5><br>
            <h5> English Language: {{ post[4] }} </h5><br>
            <h5> Mathematics: {{ post[5] }} </h5><br>
            <h5> Matriculation Number: {{ post[6] }} </h5>
        {% endif %}
    </div>
</body>
{% endblock  %}