{% extends 'admin/header.html' %}
{% block body %}
<body>
    <br>
    <div class="container" style="margin:1px;">
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/register1"><button type="button" class="btn btn-primary">Register Student</button></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/uploadresults1"><button type="button" class="btn btn-primary">Upload Results</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/deleteresults1"><button type="button" class="btn btn-primary">Delete Results</button></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/updateresults1"><button type="button" class="btn btn-primary">Update Results</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/updatedetails1"><button type="button" class="btn btn-primary">Update Student Details</button></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/deletedetails1"><button type="button" class="btn btn-primary">Delete Student Details</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin:1px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/checkresult1"><button type="button" class="btn btn-primary">Check Results</button></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/checkstudentdetails1"><button type="button" class="btn btn-primary">Check Student Details</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock  %}